{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}
) }}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
<div class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</div>
<div class="col-lg-7">
	{{ form_row(form.NameCa) }}
</div>
<button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
