

{% extends 'base.html.twig' %} 
{% block title %}
acceuil 
{% endblock %}

{# {% block style %}
 <style>

.row::after {
  content: "";
  clear: both;
  display: table;
  
}
.imgClasse{

    float: left;

}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;

 

}

 

.row {
  display: flex;

  
}

.column {
  flex: 33.33%;
  padding: 5px;
  
}

.image-ronde{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
} 

</style>

{% endblock %} #}



{% block body %}
<link rel="stylesheet" href="{{ asset('css/test.css') }}">

 <div class="container">
  <h1>Participer a une association</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="cards">
       {% for association in associations %}
        <li class="cards_item">
          <div class="card">
            <div class="img">
              {# <a href="{{ path('app_don_showclient', {'id': don.id}) }}"> #}
                <img src="http://localhost/public/{{ association.image }}" width="500" height="300">
              </a>
            </div> 
            <div class="card_content">
              <h2 class="card_title">{{ association.nom }}</h2>
              <p class="card_text">Quantity:
								                                    </p>
               <a href="{{ path('app_membre_new', {'id': association.id}) }}">  
								<button type="button" class="btn card_btn">Participer </button>
							 </a> 
              
            </div> 
          </div>
        </li>
        {% endfor %}
      </ul>
     
    </div>

  </div>
</div>
    
{# {% for association in associations %}

  
  {# <div class="rounded-circle" data-inline="true" >
    <img src="/uploads/{{ association.Image }}" alt="logo" width="150" height="150" >
  </div> 


  
     <img src="http://localhost/public/{{ association.Image }}" alt="logo" width="150" height="150" style="margin-right:10px;" class="rounded-circle">

  


 class="imgClasse" 

{% endfor %}
  </div> #}
{% endblock %}


