{# {% extends 'base.html.twig' %}  #}
 {% extends 'backbase.html.twig' %}
{% block title %}Association index{% endblock %}

{% block body %}
    <h1>Association index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Numero</th>
                <th scope="col">Mail</th>
                <th scope="col">Adresse</th>
                <th scope="col">Logo</th>
                <th scope="col">CodePostal</th>
                <th scope="col">Ville</th>
                <th scope="col">actions</th>

            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nom }}</td>
                <td>{{ association.numero }}</td>
                <td>{{ association.mail }}</td>
                <td>{{ association.adresse }}</td>
                <td><img src="/uploads/{{ association.Image }}" alt="Logo" width="100" height="100"></td>
                <td>{{ association.CodePostal }}</td>
                <td>{{ association.ville }}</td>
                <td>
                    <a href="{{ path('app_association_show', {'id': association.id}) }}"><input type="button" class="btn btn-outline-success" value="Afficher"</a>
                    <a href="{{ path('app_association_edit', {'id': association.id}) }}"><input type="button" class="btn btn-outline-danger" value="Modifier"</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_association_new') }}"><input type="button" class="btn btn-outline-success" value="Ajouter une nouvelle Association"</a>
{% endblock %}
