{% extends 'backbase.html.twig' %}

{% block title %}Liste des reclamations{% endblock %}

{% block body %}
<body>
    <h1>Liste des reclamations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>Date_reclamation</th>
                <th>Etat</th>
                <th>Motif De Reclamation</th>
                <th>Image</th>
                <th>NumTelephone</th>
                <th>Email</th>
                <th>CategorieRec</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr id="row{{reclamation.id}}">
                <td>{{ reclamation.contenu }}</td>
                <td>{{ reclamation.dataReclamation }}</td>
                <td id="status{{ reclamation.id }}">{{ reclamation.etat }}</td>
                <td>{{ reclamation.MotifDeReclamation }}</td>
                <td><img src="/uploads/{{ reclamation.Image }}" alt="image reclamation" width="100" height="100"></td>
                <td>{{ reclamation.NumTelephone }}</td>
                <td>{{ reclamation.Email }}</td>
                <td>{{ reclamation.CategorieRec.Nom }}</td>
                <td>
                    
                    <a onclick="changeStatus('{{ reclamation.id }}')" href="{{ path('app_status', { 'id': reclamation.id }) }}"><button type="button" class="btn btn-secondary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        <script>
          function changeStatus(reclamationid) {
        // Find the status element in the row with the given ID
        var statusElement = document.querySelector('#row' + reclamationid + ' #status' + reclamationid);
        
        // Check the current status value and update it
        if (statusElement.innerText === 'en cours') {
            statusElement.innerText = 'valide';
        } else {
            statusElement.innerText = 'en cours';
        }
        
        
    } 
        </script>
        </tbody>
    </table>
    </body>
{% endblock %}
