
{% block style %}
 <style>

.row::after {
  content: "";
  clear: both;
  display: table;
  
}
.imgClasse{

    float: left;

}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;

 

}

 

.row {
  display: flex;

  
}

.column {
  flex: 33.33%;
  padding: 5px;
  
}

.image-ronde{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
} 

</style>
{% endblock %}

<div style="display:flex;justify-content:center;alighn-items:center;" data-inline="true">

    
{% for association in associations %}

  
  {# <div class="rounded-circle" data-inline="true" >
    <img src="/uploads/{{ association.Image }}" alt="logo" width="150" height="150" >
  </div> #}


  
     <img src="/uploads/{{ association.Image }}" alt="logo" width="150" height="150" style="margin-right:10px;" class="rounded-circle">

  


{# class="imgClasse" #}

{% endfor %}
  </div>



<center>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</centre>
