{% extends 'base_back.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
  



    <div class="container-xxl py-5">
        <div class="container p-5 my-5 "  >
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" >
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">♥</div>
                <h1 class="display-6 mb-5">Les annonces</h1>
            </div>
             
            <div class="row g-4 " style="display:inline-block;justify-content:center;" data-wow-delay="0.7s" >
                           {% for annonce in annonces %}

                <div class="col-lg-3 col-md-5 wow fadeInUp"  style=" display: inline-block;justify-content:right;"    >
                    <div class="team-item position-relative rounded overflow-hidden">
                   
                        <div class="overflow-hidden">
                         
                            <img class="img-fluid" src="/uploads/{{ annonce.image }}"  >
                            
                             
                        </div>
                        <div class="team-text bg-light text-center p-4">
                      
                           {#  <h5>{{ evenement.NomEvent }}</h5> #}
                            
                            <p class="text-primary">{{ annonce.description }}</p>
                            
                            <div class="team-social text-center">
                            
                           
                           
                            <td><a href="{{ path('app_annonce_crud_show', {'id': annonce.id}) }}"><input type="button" class="btn btn-outline-success" value="afficher"</a></td>
                           </div>
                            
                            
                        </div>
                    </div>
                  
                </div>
             
              {% endfor %}
            </div>
            
         </div>

    </div>

<a href="{{ path('app_annonce_recherche') }}"><button type="button" class="btn btn-outline-success" >Recherche</button></a>
<a href="{{ path('app_categorie_index') }}">back to list</a>


    <a href="/categorie">Create Categorie</a>
    <div class="grix xs2 sm3 gutter-0 card">
			<div class="col-xs2 col-sm3">
				<center>
                {#      <h2><i> Liste des commentaires </i></h2>
                </center>
                {% for commentaire in annonce.commentaires %}
                   {% if commentaire.parent == null %}
                       <h4>commentaire de {{commentaire.pseudo}}</h4>
                       <p>Publié le {{commentaire.dateCreation|date("d/m/Y H:i:s")}}</p>
                       <div>{{commentaire.contenu|raw}}</div>
                       <p><a href="#ajout-commentaire" data-reply data-id="{{commentaire.id}}" class="btn btn-outline-success">Répondre</a></p> #}



{% endblock %}
