{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
  


<link rel="stylesheet" href="{{ asset('css/test.css') }}">


  
  <div class="container">
  <h1>Annonces</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="cards">
        {% for annonce in resultOfSearch %}
        <li class="cards_item">
          <div class="card">
            <div class="img">
              <a href="{{ path('app_annonce_crud_show', {'id': annonce.id}) }}">
                <img src="http://localhost/public/{{ annonce.image }}" width="500" height="300">
              </a>
            </div> 
            <div class="card_content">
              <h2 class="card_title"></h2>
              <p class="card_text">{{ annonce.adresse }}</p>
              <a href="{{ path('app_annonce_crud_show', {'id': annonce.id}) }}">
								<button type="button" class="btn card_btn">Afficher</button>
							</a>
            </div> 
          </div>
        </li>
        {% endfor %}
      </ul>
    
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <a href="{{ path('app_annonce_crud_new') }}">
          <input type="button" class="btn btn-outline-success" value="Nouvelle annonce">
        </a>
      </div>
      <div class="mb-3">
        <a href="{{ path('app_annonce_recherche') }}">
          <input type="button" class="btn btn-outline-success" value="Recherche">
        </a>
      </div>
      <div class="mb-3">
        {% if is_granted('ROLE_ADMIN') %}
    <a href="/categorie">Create Categorie</a>
    {% endif %}
      </div>
      
    </div>
  </div>
</div>
    {% endblock %}