{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <h1>Annonces</h1>

    <table class="table">
        <tbody>
           {#  <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr> #}
            <tr>
                <th>Description</th>
                <td>{{ annonce.Description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="/uploads/{{ annonce.image }}" alt="Pas d'image" width="100" height="100"></td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ annonce.Quantite }}</td>
            </tr>
             <tr>
                <th>adresse</th>
                <td>{{ annonce.adresse }}</td>
            </tr>
            <tr>
            <p>Date de publication : {{ annonce.DatePublication|date('Y-m-d H:i:s') }}</p>    
            </tr>
            <tr>
            <p>Categorie : {{ annonce.categorie.nom }}</p>    
            </tr>
            

        </tbody>
    </table>

    <a href="{{ path('app_annonce_crud_index') }}">back to list</a>

    <a href="{{ path('app_annonce_crud_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce_crud/_delete_form.html.twig') }}
{% endblock %}
