{% extends 'backbase.html.twig' %}
{% block title %}Calendar1 index{% endblock %}

    {% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>AllDay</th>
                <th>BorderColor</th>
                <th>BackgroundColor</th>
                <th>TextColor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar1 in calendar1s %}
            <tr>
                <td>{{ calendar1.id }}</td>
                <td>{{ calendar1.title }}</td>
                <td>{{ calendar1.start ? calendar1.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar1.end ? calendar1.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar1.description }}</td>
                <td>{{ calendar1.allDay ? 'Yes' : 'No' }}</td>
                <td>{{ calendar1.borderColor }}</td>
                <td>{{ calendar1.backgroundColor }}</td>
                <td>{{ calendar1.textColor }}</td>
                <td>
                    <a href="{{ path('app_calendar1_show', {'id': calendar1.id}) }}"><input type="button" class="btn btn-outline-success" value="afficher"></a>
                    <a href="{{ path('app_calendar1_edit', {'id': calendar1.id}) }}"><input type="button" class="btn btn-outline-danger" value="Modifier"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_calendar1_new') }}">Create new</a> #}
{% endblock %}
